@model EducationManagement.Entities.Grades

@{
    ViewData["Title"] = "Edit";
}
@section css{
    <link href="~/css/bootstrap-datetimepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
}
<h2>Edit</h2>

<h4>Grades</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateDate" class="control-label"></label>
                <input  type="text" asp-for="CreateDate" class="form-control" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdateDate" class="control-label"></label>
                <input type="text" asp-for="UpdateDate" class="form-control" />
                <span asp-validation-for="UpdateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section scripts{

    <script src="~/css/bootstrap-datetimepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script>
        $('#CreateDate').datepicker({
            format: 'mm-dd-yyyy',
            autoclose: true
        })
        $('#UpdateDate').datepicker({
            format: 'mm-dd-yyyy',
            autoclose: true
        })
        $('#Dob').datepicker({
            format: 'mm-dd-yyyy',
            autoclose: true
        })
    </script>

}
